body{
    background-image: linear-gradient(270deg,blue,black);
    display:block;
}

.navbar{
    position:fixed;
    display:grid;
    background-color:rgb(124, 124, 12);
    text-align:center;
    margin-top:15px;
    padding: 40px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius:40px;
}
/* .navigation{
    text-decoration:none;
    font:30px Raleway;
    /* text-align:center; 
} */

div.navbar a{
    margin: 0px 20px;
    z-index:0;    
    padding: 10px 10px;
    cursor:pointer;
    text-decoration:none;   
    /* text-align:center; */
    color:black; 
    font-size:30px;
    position:relative;
}
div.BorderEffect a:before, div.BorderEffect a:after
{
    position:absolute;
    left: 0px;
    width: 100%;
    height: 2px;
    background: black;
    content:"";
    opacity: 0;
    transition: all 0.3s;
}
div.BorderEffect a:before
{
    top: 0px;
    transform: translateY(px);
}

div.BorderEffect a:after
{
    bottom: 0px;
    transform: translateY(-6px);
}

div.BorderEffect a:hover:before, div.BorderEffect a:hover:after
{
    opacity: 1;
    transform: translateY(0px);
}
.about, .skills, .hobbies{
    text-align:center;
    background-color:rgb(11, 95, 95);
    margin-top:50px;
    margin-bottom:50px;
    padding:30px;
    margin-left:300px;
    margin-right:50px;
    border-radius:50px;
    color:white;
}
.about-me{
    text-align:left;
    
}

#contact{
    text-align:center;   
    background-color:rgb(11, 95, 95);
    padding:50px;
    padding-top:0px;
    padding-bottom:0px;
    margin:50px;
    
    margin-left:300px;
    margin-bottom:0px;
    border-radius:50px;

}
.contact-info{
    font-size:30px;
    font-family:cursive;
    color:white;
}

.input-icons a img{
    height:40px;
    width:40px;
}
.input-icons a{
    text-decoration:none;
    font-size: 30px;
    
}

  
.input-icons {
    width: 100%;
    margin: 0px 10px;
    padding: 10px 10px
}
  
.icon {
    padding: 10px;
    color:red;
}
  
